<!DOCTYPE html>
<html>
<head>
  <title>FamilyAlmanac</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <br>
    <div id="user_header" class="row">
      <%= flash[:alert] %>
      <%= flash[:notice] %>
      <div class="col-md-12">
        <% if current_user %>
          <%= link_to "Home", users_path, method: "get", class: "btn btn-success" %>
          <%= link_to "#{current_user.username}'s Profile", user_path(current_user), method: "get", class: "btn btn-warning" %>
          <%= link_to "#{current_user.username}'s Photos", user_photos_path(current_user), method: "get", class: "btn btn-info" %>
          <%= link_to "Add Photos", new_user_photo_path(current_user), class: "btn btn-info" %>
          <%= link_to "Log Out", logout_path("current"), method: "get", class: "btn btn-warning" %>
        <% else %>
          <%= link_to "Sign Up", signup_path, class: "btn btn-info" %>
          <%= link_to "Log in", login_path, class: "btn btn-default" %>
        <% end %>
      </div>
    </div>
    <%= yield %>
  </div>
</body>
</html>
