<%=params.inspect%>
<h2>Show the Family a New Photo</h2>
<%= form_for [@user, @photo], url: user_photos_path, html: { multipart: true } do |f| %>
  <% if @photo.errors.any? %>
    <div class="error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% @photo.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.file_field :pic %>
  </div>
  <%= f.submit "Add", class: "btn btn-primary" %>
<% end %>
